html{
    background-color:black;
}

h2 {
    color: brown;
    background-color: blanchedalmond;
}

p{
    color: green;
    font-size: 20px;
    font: message-box;
}

ul{
    font-size: 25px;
}

html body ul li{
    color: blueviolet;
}

.verde{
    color: green;
}

.blue{
    color: blue;
}

.destaque{
    font-size: 30px;
}

#lista_produtos {
    background-color: white;
}