h1{
font-size: 42px;
}

h2{
    font-size: 28;
}

a{
    color: #ff00ff;
}

.verde{
    color: #00ff00;
}

.orange{
    color: orange;
}

.brown{
    color: brown;
}

.fundo{
    background-color: #eeeeee;
}

.rosa{
    color: #ff00ff;
}

img{
    height: 150px;
    width: 200px;
}