html{
    font-family: Helvetica;
}

h1{
    font-size: 32px;
    color: red;
}

h2{
    font-size: 28px;
    color: green;
}

ol{
    font-size: 16px;
}

.blue{
    color: blue;
}

.indigo{
    color: indigo;
}

.pink{
    color: pink;
}

.golden{
    color: goldenrod;
}

p{
    font-size: 12px;
}

img{
    height: 150px; 
    width: 200px;
}